# Node.js and npm dependencies
node_modules/

# Logs and Debug files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MongoDB
*.dump
*.bak

# Environment variables
.env
.env.*

# Coverage reports
coverage/

# System files
.DS_Store
Thumbs.db

# Output files
*.tgz
*.zip

# IDE and editor specific files
.idea/
.vscode/
*.swp

# Optional npm cache directory
.npm

# Temporary files
*.tmp
*.temp
